<div class="app-container">

  <!-- Header -->
  <h2>Producer / Consumer Simulation</h2>

  <!-- Control Panel -->
  <app-control-panel></app-control-panel>


  <div class="canvas">

    <!-- SVG LAYER FOR LINES -->
    <svg class="connections">
      <line *ngFor="let c of simulationState?.connections" [attr.x1]="getNode(c.from).x" [attr.y1]="getNode(c.from).y"
        [attr.x2]="getNode(c.to).x" [attr.y2]="getNode(c.to).y" stroke="black" stroke-width="2"
        marker-end="url(#arrow)">
      </line>

      <!-- Arrow definition -->
      <defs>
        <marker id="arrow" markerWidth="10" markerHeight="10" refX="10" refY="5" orient="auto">
          <path d="M0,0 L10,5 L0,10 Z" fill="black" />
        </marker>
      </defs>
    </svg>

    <!-- QUEUES -->
    <app-queue *ngFor="let q of simulationState?.queues" [queue]="q" cdkDrag (cdkDragEnded)="updatePosition(q, $event)">
    </app-queue>

    <!-- MACHINES -->
    <app-machine *ngFor="let m of simulationState?.machines" [machine]="m" cdkDrag
      (cdkDragEnded)="updatePosition(m, $event)">
    </app-machine>

  </div>


  <!-- Status Bar -->
  <div class="status-bar">
    <span>Status: {{ simulationState?.isRunning ? 'Running' : 'Stopped' }}</span>
    <span>Time: {{ simulationState?.time }}</span>
  </div>

</div>