.canvas {
    position: relative;
    width: 100%;
    height: 600px;
    border: 2px dashed #aaa;
}

.connections {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* allow clicking nodes */
}

app-machine,
app-queue {
    position: absolute;
}