.machine-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: #2ecc71;
    border: 3px solid #2c3e50;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: bold;

    position: absolute;
    cursor: move;
    user-select: none;
}