.machine-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2ecc71;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
    cursor: move;
}

.queue-box {
    min-height: 50px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6px;
}

.product {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}